# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Testes / cobertura
.coverage
.pytest_cache/
htmlcov/

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
